@import '../library';

@mixin input {
    outline: none;
    font-size: $small-size;
    padding: 1em 1em 0.5em 1em;
    resize: none;
    width: 50%;
    height: 2em;
    border: solid .1rem $primary-color;
    font-family: $main-font;
    @include transition(all, 150ms);
    
    &:focus {
        border-color: #59769b;
        @include transition(all, 150ms);
    }
}

@mixin send-btn {
    @include btn(1.1rem, $tertiary-color, $btn-hover-2);
    margin: 0 0.5em;
    font-weight: 400;
    padding: .8em 1.6em;
    @include transition(all, 150ms);
    &:hover {
        background-color: #6b8db9;
        @include transition(all, 150ms);
    }
}

.questions-answers-container {
    @include flex-center(column);
    gap: 1.5em;
    width: 100%;
    margin: 2em 0 5em;
    border-top: solid .12em rgb(211, 211, 211);
    h2 {
        font-size: $medium-big-size;
        font-weight: 400;
    }

    .send-questions {
        @include flex-center(row);
        width: 100%;
        textarea {
            @include input;
        }

        .ask-btn {
            @include send-btn;
        }
    }

    .all-questions-answers {
        @include flex-center(column);
        align-items: unset;
        width: 100%;

        .single-question-answer {
            background-color: rgba(231, 231, 231, 0.582);
            margin: .5em 0;
            padding: 1em 2em;
            font-size: 1.15rem;
            .answer {
                padding-left: 1em;
                color: gray;
            }
        }
    }

}

//Answer input
.send-answer {
    @include flex-center(row);
        width: 100%;
        justify-content: unset;
    textarea {
        @include input;
    }

    .ask-btn {
        @include send-btn;
    }
}