@import 'library';

.auth-form-container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    @include flex-center(column);
    height: 60%;
    width: 50%;
    background-color: $tertiary-color;
    @include box-shadow;

    form {
        @include flex-center(column);
        input {
            margin: 1em 0;
        }
    }
}