@import 'library';

.auth-form-container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    @include flex-center(column);
    height: 60%;
    width: 50%;
    background-color: $tertiary-color;
    @include box-shadow;

    h2 {
        position: absolute;
        top: 1em;
        font-size: $big-size;
    }

    form {
        @include flex-center(column);
        width: 25%;
        .text-inputs {
            border: none;
            outline: none;
            font-size: $small-size;
            border-bottom: solid .2rem $primary-color;
            padding: 1em 1em 0.5em 1em;
            width: 100%;
            margin: 1em 0;
        }

        .submit-form-btn {
            @include btn($small-size, $tertiary-color, $secondary-color);
            margin: 3em 0;
            padding: 1em 1.8em;
            @include transition(all, 150ms);
            &:hover {
                background-color: $btn-hover;
                @include transition(all, 150ms);
            }
        }

        .already {
            color: blue;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}