@import 'library';

nav {
    @include flex-center(row);
    position: relative;
    height: 5em;
    width: 100%;
    background-color: $primary-color;

    .nav-logo {
        position: absolute;
        color: $tertiary-color;
        font-family: $brand-font;
        font-size: $brand-size;
        left: 2em;
        margin: 0;
    }

    .search-bar-container {
        @include flex-center(row);
        flex-wrap: nowrap;
        width: 30%;
        .search-bar {
            border: none;
            outline: none;
            border-bottom: solid .2em $tertiary-color;
            font-size: $small-size;
            color: $tertiary-color;
            background-color: transparent;
            width: 100%;
            margin-right: .5em;
            padding: .5em;
        }
    }

    img {
        height: 2em;
        cursor: pointer;
    }

    //User disconnected nav
    .nav-actions {
        @include flex-center(row);
        position: absolute;
        right: 2em;
        margin: 0 2em;
        
        .auth-btn {
            @include btn($small-size, $tertiary-color, $secondary-color);
            padding: .5em 1.8em;
            margin: 0 1em;  
            @include transition(all, 150ms);
        }

        .sign-in-btn {
            background-color: white;
            color: $secondary-color;
            &:hover {
                background-color: $secondary-color;
                color: $tertiary-color;
                @include transition(all, 150ms);
            }
        }

        .log-in-btn:hover {
            background-color: $btn-hover;
            @include transition(all, 150ms)
        }

        img {
            margin: 0 2em 0em 4em;
            font-size: $small-size;
        }
    }

    //User connected nav
    .nav-user-active {
        color: white;
        cursor: default;
        font-size: $normal-size;
        
        .user-selector {
            display: inline-block;
            justify-content: flex-start;
            .username {
                margin: .2em .5em;    
            }

            .user-info {
                @include flex-center(row);
            }
            
            .user-dropdown-menu {
                @include flex-center(column);
                align-items: flex-start;
                position: absolute;
                background-color: #2a3646d3;
                width: 70%;
                padding: .5em;
                border-radius: .4rem;
                pointer-events: none;
                opacity: 0;
                @include transition(opacity, 150ms);

                a, button {
                    padding: .8em 0.5em;
                    color: white;
                    &:hover {
                        font-weight: 600;
                    }
                }

                button {
                    @include btn($normal-size, white, transparent);
                    font-weight: 400;
                }
            }

            .user-arrow {
                margin: 0em .2em;
                height: 1.2em;
                @include transition(transform, 250ms)
            }

            &:hover {
                .user-arrow {
                    transform: rotate(180deg);
                    @include transition(transform, 250ms);
                }

                .user-dropdown-menu {
                    opacity: 1;
                    pointer-events: all;
                }
            }
        }

    }
}

