@import 'library';

.sections-container {
    @include grid-layout;
}

.section {
    @include flex-center(column);
    padding: 1.2em 0;
    background-color: $tertiary-color;
    gap: 1em;
    @include box-shadow;
    h3 {
        color: $primary-color;
        align-self: start;
        margin: 0 0 0 2.5em;
        font-size: $medium-big-size;
    }

    p {
        align-self: start;
        margin-left: 4.5em;
        color:#6e8cb3;
        &:hover {
            color: #85a8d6;
            text-decoration: underline;
        }
    }

    img {
        height: 17em;
        width: 22em;
    }
}